p.hintLeft { float: left; width: 10em; padding-right: 1em; text-align: justify; font-size: 14pt }
a:link { text-decoration: none }
a:hover { font-weight: bold; text-decoration: underline }
pre, div#board table, ul#legend span { font-size: 20pt }
div#board td, ul#legend span, span.demo { font-family: "Courier New", Courier, monospace }
div#board td.wall, span.wall { font-weight: bold }
div#board td.goal, span.goal { color: gray }
div#board td.box, span.box { color: darkgoldenrod }
div#board td.boxOnGoal, span.boxOnGoal { color: orange; text-shadow: 3px 3px 5px darkgoldenrod }
div#board td.pusher, span.pusher { color: darkblue }
div#board td.pusherOnGoal, span.pusherOnGoal { color: blue; text-shadow: 3px 3px 5px darkblue }
iframe#legend { float: right; height: 120% }
span#nextLevelLink { display: none }